.header-flex-container2{
    display:flex;
    justify-content: flex-end;
}

.header-flex-container2{
    gap:20px;
}


.header-flex-container1{
    display:flex;
    justify-content: flex-start;
    height:50px;
    width:50px;
}

.logo-img{
    height:50px;
    width:50px;
}
