* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
  }

  .container{/* main container*/
    display:flex;
    background-color: #1F2937;
    justify-content: space-between; /* I use space between as it distriubtes the two flex-containers
    with even space between them, also as there are only two items they can sit flush on each end */
  }

  .right-container{/* */
    display:flex;/* */
    gap:25px;/*sets the distance for the children*/
    align-items:center;/* makes it on the center in the vertical axis */
    margin-right: 20px;/* moves it 20px from the right */
    color:aliceblue;
  }

  .container img{
    width:75px;
    height: 75px;
    margin-left: 20px;/*moves the image 20px from the left */
  }

  /*second section*/


  .second-container-header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;

  }

  .paragraph{
    display:flex;
    color:aliceblue;
  }

  #one{      
      width: 22em;                     
      word-wrap: break-word;  /*makes word go onto new line if container is small*/  
      font-size: 20px; 
      color:aliceblue;    
  }

  #two{
      width: 30em;               
      word-wrap: break-word;      
      font-size: 20px; 
      color:aliceblue;
  }

  #three{
    padding:0px;
    text-align: center;  /*text aligns itself to the middle of background*/
    border-radius:8px; /*rounds edges*/
    border:none;
    background-color: #3882f6;
    width:15%;
  }

  .image{
    max-width: 45%;
    height: auto;
    align-items: center;
    margin-right: 50px;
  }

   /*third section*/
   .third-container{
    display:flex;
    justify-content: center;
   }

   .content-one{
    margin: 20px;
   }

   .blue-box{
    width: 100px;
    height:100px;
    border: 5px solid #3882f6;
    border-radius:8px;
    margin: 0px 0px 50px 0px;
   }

   .box-container{
    display:flex;
    justify-content: center;
    gap:35px;
   }

   /*fourth section*/

   .container-four{
    display:flex;
    justify-content: center;
    align-items: center;
   }
   .text{
    text-align:center;
    margin: 100px 250px 0px 250px;
    font-size: 26px;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   }

   .subtext{
    font-size:30px;
   }



